= simple_form_for @post do |f|
  = f.input :image
  = f.input :title
  = f.input :link
  = f.bootsy_area :description, editor_options: { image: false }

  = f.button :submit, class: "btn btn-default"
