.row
  - @posts.each do |post|
    .col-md-4.article
      = link_to (image_tag post.image.url(:small))
      %h2= link_to post.title, post
      %p
        Added by
        = post.user.name
      %p
        = post.comments.count
        =fa_icon "comment-o"
        Comments
      %p
        = post.get_likes.size
        =fa_icon "thumbs-o-up"
        Likes
