.row
  -if user_signed_in?
    .welcome
      %h2
        Hello
        = current_user.name
      %h3 Take inspiration and make that day awesome.
  - @posts.each do |post|
    .col-md-4.article
      = link_to (image_tag post.image.url(:small)), post
      %h2= link_to post.title, post
      %p
        Added by
        = post.user.name
      %p
        = post.comments.count
        =fa_icon "comment-o"
        Comments
      %p
        = post.get_likes.size
        =fa_icon "thumbs-o-up"
        Likes
