%h1= @post.title
%p.username
  Added by
  = @post.user.name
  = time_ago_in_words(@post.created_at)
  = link_to "Link", @post.link, class: "btn btn-default"

= image_tag @post.image.url(:medium)

.options
- if @post.user == current_user
  .btn.btn-default
    = link_to "Edit", edit_post_path(@post)
    -#przy root_path nie daje argumentu
    -#bo odnosi sie to do calosci, a edit odnosi sie do konkretnego postu
  .btn.btn-default
    -#method: :delete odpowiedzialna jest za usuniecie tego konkretnego @post po potwierdzeniu
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}

%p= @post.description
%p
  = @post.get_upvotes.size
  =fa_icon "thumbs-o-up"
  Likes
%p
  = @post.get_downvotes.size
  =fa_icon "thumbs-o-down"
  Dislikes
.btn.btn-default
  = link_to like_post_path(@post), method: :get, class: "data" do
    %i.fa.fa-thumbs-o-up
    =pluralize(@post.get_upvotes.size, "Like")
.btn.btn-default
  = link_to dislike_post_path(@post), method: :get, class: "data" do
    %i.fa.fa-thumbs-o-down
    =pluralize(@post.get_downvotes.size, "Dislike")

#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render 'comments/form'
